<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="nuc.ss.mapper.HumanResourceMapper">

    <select id="queryHRList" resultType="HumanResource">
        select * from databaselab.humanresources;
    </select>

    <select id="queryHRById" resultType="HumanResource">
        select * from databaselab.humanresources where id = #{id};
    </select>

    <insert id="addHR" parameterType="HumanResource">
        insert into databaselab.humanresources (AHRid, name, sex, Email,tel,QQ,Phone,Location,ZipCode,Nationality,Birthplace,Birthday,Nation,Belief,PoliticalOutlook,IDNumber,SocialSecurityNumber,Age,Education,Major,SalaryStandard,AccountOpening,AccountNumber,Specialty,Hobbies,PersonalResume,FamilyRelationshipInformation,Note,Registrant,RegistrationTime,State) values (#{AHRid},#{name},#{sex},#{Email},#{tel},#{QQ},#{Phone},#{Location},#{ZipCode},#{Nationality},#{Birthplace},#{Birthday},#{Nation},#{Belief},#{PoliticalOutlook},#{IDNumber},#{SocialSecurityNumber},#{Age},#{Education},#{Major},#{SalaryStandard},#{AccountOpening},#{AccountNumber},#{Specialty},#{Hobbies},#{PersonalResume},#{FamilyRelationshipInformation},#{Note},#{Registrant},#{RegistrationTime},#{State});
    </insert>
    <update id="updateHR" parameterType="HumanResource">
        update databaselab.humanresources set AHRid=#{AHRid}, name= #{name}, sex= #{sex}, Email=#{Email},tel= #{tel}, QQ= #{QQ}, Phone= #{Phone},Location=#{Location}, ZipCode= #{ZipCode}, Nationality= #{Nationality},Birthplace= #{Birthplace}, Birthday= #{Birthday}, Nation= #{Nation}, Belief= #{Belief}, PoliticalOutlook= #{PoliticalOutlook}, IDNumber= #{IDNumber}, SocialSecurityNumber= #{SocialSecurityNumber}, Age= #{Age}, Education= #{Education}, Major= #{Major}, SalaryStandard= #{SalaryStandard}, AccountOpening=#{AccountOpening}, AccountNumber= #{AccountNumber}, Specialty= #{Specialty}, Hobbies= #{Hobbies}, PersonalResume= #{PersonalResume}, FamilyRelationshipInformation= #{FamilyRelationshipInformation}, Note= #{Note}, Registrant= #{Registrant}, RegistrationTime= #{RegistrationTime},State= #{State} where id = #{id};
    </update>

    <delete id="deleteHR" parameterType="HumanResource">
        update databaselab.humanresources set State=2 where id = #{id}
    </delete>
</mapper>
